.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width:200px;
  height: 100vh;
}

.main {
  background-color: #7dc2fc;
  width: calc(100vw - 200px);
  height: 100vh;
}

.side-bar-header {
  height: 200px;
}
.team-logo {
  width: 180px;
  height: 180px;
  margin: 10px 10px;
}
.logins {
  background-color: #2F3E51;
  height: calc(100vh - 95%);
}

.nav {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
}

.lists {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin:auto;
  color: #FFFFFF;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #FFFFFF;
}

.login {
  text-decoration: none;
  line-height: 20px;
  margin: 0px 1vw;
  color: #FFFFFF;
}

.sign-up {
  text-decoration: none;
  margin: 0px 1vw;
  color: #FFFFFF;
}

.menus {
  background-color: teal;
  height: calc(100vh - 50%);
}

.side-bar-footer {
  background-color: #FFFFFF;
  height: 18.2vh;
}